.App {
  text-align: center;
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar{
  position: fixed;
  height: 50px;
  width: 100vw;
  background: rgba(0,0,0, .6);
  
}

.nav-bar-homepage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#home-tab{
  font-size: 25px;
  color: red;
}

.nav-bar-homepage > h4 {
  color: blue
}

section{
  padding-top: 100px;
  margin-bottom: 400px;
}

.background{
  position: absolute;
  margin: 35px 0px 0px 150px;  
  border: 3px dotted steelblue;
  width: 200px;
  height: 200px;
  background: rgba(0,0,0, .3);
  box-sizing: border-box;
  box-shadow: 2px 12px 15px rgba(0,0,0, .5);
  margin-bottom: 25px;
}

.background-image{
  width: 150px;
  height: 150px;
  background: url('./pics/cake.png') no-repeat 100%;
  background-position: left;
}

.left-button{
  text-align:center;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: .3s ease-in-out;
  font-style: oblique;
}

.button-focus{
  width: 100px;
  height: 35px;
  border-radius: 3px;
}

.button-disabled:disabled{
  width: 100px;
  height: 35px;
  border-radius: 3px;
  
}

.button-focus:focus{
  background: none;
  outline: none;
  border: 2px solid black;
}

li:nth-child(4){
  color: blue;
}

.left-button:hover{
  margin-left: 20px;
  transform: scale(1.3) rotate(360deg);
  
}

.left-button-face{
  animation: left-button-face infinite 2s linear;
  text-align:center;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: .3s ease-in-out;
  margin-top: 50px;
  margin-left: 50px;
}


@keyframes left-button-face {
  
    from { transform: scale(1); }
    to { transform: scale(1.7); }
  }




section span {
  text-shadow: 2px 2px 5px rgba(0,0,0, .6);
  position: relative;
  z-index: 20;
  padding-right: 15px;
  font-size: 25px;
  color: blue;
  font-weight: 600;
  float: right;
}

div + li {
  color: green;
  font-size: 19px;
}

.list{
display: flex;
width: 400px;
height: 100px;
background: linear-gradient( to right , rgba(0,0,0, .6), red);
justify-content: flex-end;

}
.ul-list{
  margin-left: 55px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  
}




